doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='x-apple-disable-message-reformatting')
    meta(name='format-detection' content='telephone=no,address=no,email=no,date=no,url=no')
    meta(name='color-scheme' content='light')
    meta(name='supported-color-schemes' content='light')
    title You have #{numOfCommits} pending to review in your BrightByte team: #{teamName}
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    // CSS Reset : BEGIN
    style.
      /* What it does: Tells the email client that only light styles are provided but the client can transform them to dark. A duplicate of meta color-scheme meta tag above. */
      :root {
      color-scheme: light;
      supported-color-schemes: light;
      }
      /* What it does: Remove spaces around the email design added by some email clients. */
      /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
      html,
      body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      }
      /* What it does: Stops email clients resizing small text. */
      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      /* What it does: Centers email on Android 4.4 */
      div[style*="margin: 16px 0"] {
      margin: 0 !important;
      }
      /* What it does: forces Samsung Android mail clients to use the entire viewport */
      #MessageViewBody, #MessageWebViewDiv{
      width: 100% !important;
      }
      /* What it does: Stops Outlook from adding extra spacing to tables. */
      table,
      td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
      }
      /* What it does: Replaces default bold style. */
      th {
      font-weight: normal;
      }
      /* What it does: Fixes webkit padding issue. */
      table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
      }
      /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
      a {
      text-decoration: none;
      }
      /* What it does: Uses a better rendering method when resizing images in IE. */
      img {
      -ms-interpolation-mode:bicubic;
      }
      /* What it does: A work-around for email clients meddling in triggered links. */
      a[x-apple-data-detectors],  /* iOS */
      .unstyle-auto-detected-links a,
      .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      /* What it does: Prevents Gmail from changing the text color in conversation threads. */
      .im {
      color: inherit !important;
      }
      /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
      .a6S {
      display: none !important;
      opacity: 0.01 !important;
      }
      /* If the above doesn't work, add a .g-img class to any image in question. */
      img.g-img + div {
      display: none !important;
      }
      /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
      /* Create one of these media queries for each additional viewport size you'd like to fix */
      /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
      @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
      u ~ div .email-container {
      min-width: 320px !important;
      }
      }
      /* iPhone 6, 6S, 7, 8, and X */
      @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
      u ~ div .email-container {
      min-width: 375px !important;
      }
      }
      /* iPhone 6+, 7+, and 8+ */
      @media only screen and (min-device-width: 414px) {
      u ~ div .email-container {
      min-width: 414px !important;
      }
      }
    // CSS Reset : END
    // Progressive Enhancements : BEGIN
    style.
      /* What it does: Hover styles for buttons */
      .button-td,
      .button-a {
      transition: all 100ms ease-in;
      }
      .button-td-primary:hover,
      .button-a-primary:hover {
      background: #555555 !important;
      border-color: #555555 !important;
      }
      /* Media Queries */
      @media screen and (max-width: 600px) {
      .email-container {
      width: 100% !important;
      margin: auto !important;
      }
      /* What it does: Forces table cells into full-width rows. */
      .stack-column,
      .stack-column-center {
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
      direction: ltr !important;
      }
      /* And center justify these ones. */
      .stack-column-center {
      text-align: center !important;
      }
      /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
      .center-on-narrow {
      text-align: center !important;
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      float: none !important;
      }
      table.center-on-narrow {
      display: inline-block !important;
      }
      /* What it does: Adjust typography on small screens to improve readability */
      .email-container p {
      font-size: 17px !important;
      }
      .ii a[href]{
      color: #ffffff !important;  
      }
    // Progressive Enhancements : END
  center(role='article' aria-roledescription='email' lang='en' style='width: 100%; background-color: #f9f9fc;')
    //if mso | IE
      table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%' style='background-color: #f9f9fc;')
        tr
          td
    // Visually Hidden Preheader Text : BEGIN
    div(style='max-height:0; overflow:hidden; mso-hide:all;' aria-hidden='true')
      | Hi my fellow teammate! You have #{numOfCommits} pending commits to review in your BrightByte team: #{teamName}
    // Visually Hidden Preheader Text : END
    // Preview Text Spacing Hack : BEGIN
    div(style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: 'Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';")
    // Preview Text Spacing Hack : END
    // Email Body : BEGIN
    table.email-container(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='600' style='margin: auto;')
      // Email Header : BEGIN
      tr
        td(style='padding: 20px 0; text-align: center; background-color: #ffffff')
          a(href='http://cloud.brightbyteapp.com/' target='_blank')
            img(src='http://brightbyteapp.com/wp-content/uploads/2020/02/logo-color.png' width='200' height='50' alt='Brightbyte' border='0' style="height: auto;  font-family: 'Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 15px; line-height: 15px; color: #555555;")
      // Email Header : END
      // Hero Image, Flush : BEGIN
      tr
        td(style='background-color: #ffffff; text-align: center;')
          table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
            tr
              td(style="padding: 20px; font-family: 'Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 17px; line-height: 22px; color: #555555;")
                h1(style='margin: 0 0 10px; font-size: 29px; line-height: 34px; color: #139dd9; font-weight: normal;')
                  | Hi my fellow 
                  strong teammate!         
      tr
        td(valign='middle' style='text-align: center; background-color:#096d99;')
          div
            table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(valign='middle' style="text-align: center; padding: 40px; font-family: 'Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 15px; line-height: 20px; color: #ffffff;")
                  p(style='margin: 0;')
                  span(style='margin: 0 0 10px; font-size: 21px; line-height: 30px; color: #ffffff; font-weight: normal;')
                  | You have 
                  strong #{numOfCommits}
                  |  pending commits to review in your BrightByte team: 
                  strong #{teamName}                         
            tr
              td(style='padding: 40px 10px; background:white;')
                // Button : BEGIN
                table(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' style='margin: auto;')
                  tr
                    td.button-td.button-td-primary(style='border-radius: 4px; background: #096d99;')
                      a.button-a.button-a-primary(href='http://cloud.brightbyteapp.com/' style="background: #096d99; border: 1px solid #096d99; font-family: 'Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 30px; color: #ffffff; display: block; border-radius: 16px;") REVIEW NOW
                // Button : END
      // 1 Column Text + Button : END
      // Background Image with Text : BEGIN        
      tr
        td(style='background-color: #ffffff;')
          table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
            tr
              td(style="padding-bottom: 30px; font-family: 'Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 15px; line-height: 20px; color: #555555;text-align: center;")
                p
                  | See you soon! 
                  br
                  | &#x9;                          Regards, 
                  br
                  em The BrightByte dev. team.
      // 1 Column Text : END
    // Email Body : END
    // Full Bleed Background Section : BEGIN
    table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='600' style='background-color: #096d99;')
      tr
        td
          .email-container(align='center' style='max-width: 600px; margin: auto;')
            //if mso
              table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='600' align='center')
                tr
                  td
            table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='600')
              tr
                td(style="padding: 20px; text-align: center; font-family: 'Segoe UI', Segoe, 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif'; font-size: 12px; line-height: 20px; color: #ffffff;")
                  span(style='margin: 0; padding: 0px;')
                    | Copyright 2021 &copy; 
                    a(href='https://www.tribalyte.com' target='_blank' style='color: #ffffff;') Tribalyte Technologies
                  br(style='margin: 0;')
                  | Glorieta de Quevedo, 8, 6ยบ2, 28015 Madrid, Spain
                  br
                  span(style='margin: 0px; padding: 0px;')
                    | email:  
                    a(href='mailto:info@tribalyte.com' style='color: #ffffff;') info@tribalyte.com
                  br(style='margin: 0px;')
                  | +34 910 177 514
            //if mso
    // Full Bleed Background Section : END
    //if mso | IE